.idea/
__pycache__
var/
build/
.venv
*.conf
*.ini
*.pyc
*.egg-info
dist/
*.log
.pytest_cache
*.sql
*.sh
venv/
uvicorn_config.json
tmp/
output/
*.pdf
*.png
bak/
test_output/
json_results/
test_report_*
test/